# origin url for requests from the frontend
# http://localhost:3000
FRONTEND_ORIGIN="..."

# lootlocker domain key, you can find this on
# https://console.lootlocker.com/<userid>/settings/api-keys
LOOTLOCKER_DOMAIN_KEY="..."

# the location of this backend server
# leave blank for localhost
ADDRESS=""
PORT="8080"