@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular-std-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular-std-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('./fonts/circular-std-200.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

:root{
  --body: --secondary-background;
  
  --primary-background: #fff;
  --secondary-background: rgb(247, 245, 236);

  --primary-text: #000;
  --secondary-text: #888;

  --font-main: "Circular Std", Arial, Helvetica, Sans-Serif;
  --font-mono: "Martian Mono", monospace;

  --accent-green: #1CE86D;

  --accent: #FC9753;
  --accent-light: #ffbc8f;
  --cross-color: #ffe4d1;
}
body{
  background-color: var(--body);
  color: var(--primary-text);
  font-family: var(--font-main);
  padding: 5rem;
}

#root{
  width: 100%;
  height: 100%;
}


.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}



h1{
  margin: 0 0 1.5rem;
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 2.4rem;
}

.container{
  width: 100%;
  height: 100%;
}

.cells{
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.cell,
.num-btn{
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: var(--secondary-background);
  border: none;
  margin: 1px;
  color: var(--primary-text);
  font-family: var(--font-mono);
}
.cell.initial{
  color: var(--secondary-text);
}
.cell.border-bottom{
  margin-bottom: 3px;
}
.cell.border-top{
  margin-top: 3px;
}
.cell.border-right{
  margin-right: 3px;
}
.cell.border-left{
  margin-left: 3px;
}


.cell.active{
  background-color: var(--accent-light);
  color: #fff;
}
.cell.cross{
  background-color: var(--cross-color);
}
.cell.cross.active{
  background-color: var(--accent);
  color: #fff;
  font-weight: 500;
}

.num-btn{
  position: relative;
  font-size: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.num-btn.active{
  font-weight: 500;
  color: #fff;
  background-color: var(--accent);
}
.num-btn.locked::before{
  content: "";
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 50%;
  top: -1rem;
  transform: translateX(-50%);
  background-image: url(media/icons/lock.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* .num-btn.locked::after{
  content: "You can't edit this";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: .8rem;
  color: black;
  top: 0;
  font-weight: 500;
  font-family: var(--font-main);
  opacity: 0;
  transition: top .3s, opacity .3s;
}
.num-btn.locked:hover::after{
  top: -2rem;
  opacity: 1;
} */

#num-btns{
  margin-bottom: .5rem;
}
.action-btn{
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--accent-green);
  border: 2px var(--accent-green) solid;
  margin: 0 2px;
  transition: background-color .3s;
}
.action-btn::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  transition: filter .3s;
}
.action-btn.edit::after{
  background-image: url(./media/buttons/edit.svg);
}
.action-btn.erase::after{
  background-image: url(./media/buttons/erase.svg);
}
.action-btn.pencil::after{
  background-image: url(./media/buttons/pencil.svg);
}
.action-btn.undo::after{
  background-image: url(./media/buttons/undo.svg);
}
.action-btn.hint::after{
  background-image: url(./media/buttons/hint.svg);
}
.action-btn:hover{
  background-color: transparent;
}
.action-btn:hover::after{
  filter: invert(0);
}



#powered-by-lootlocker{
  font-size: .8rem;
  margin-top: 1.5rem;
  color: #aaa;
  text-decoration: none;
  font-weight: 200;
}
#powered-by-lootlocker span{
  color: var(--accent-green);
  font-weight: 400;
}